VITE_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=your-project-id-here
VITE_APPWRITE_FUNCTION_MANAGE_USERS=your-function-id-here
VITE_APPWRITE_DATABASE_ID=your-database-id
VITE_APPWRITE_COLLECTION_KONTRAK=your-kontrak-collection-id
VITE_APPWRITE_COLLECTION_DOKUMEN=your-dokumen-collection-id
VITE_APPWRITE_BUCKET_KONTRAK=your-bucket-id
VITE_APPWRITE_FUNCTION_MANAGE_KONTRAK=your-function-id
